<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downlaod| page of shareKaro</title>
    
    
</head>
<body>
    <!-- <img src="/images/logo.png" alt="logo" class="logo"> -->

    <section class="download">
        <!-- <img src="/images/download-icon.png" alt="download-icon"> -->
        <% if(locals.error){ %>
            <h4><%= locals.error %>😑</h4>
        <% } else { %>
            <h2>Your file is ready to download</h2>
            <p>Link expires in 24hrs</p>
            <div class="download-meta">
                <h4><%= filename %></h4>
                <small><%= parseInt(filesize/1000) %> kb</small>
            </div>
            <div class="send-btn-container">
                <a href="<%= download %>">Download the file</a>
            </div>
        <% } %>

    </section>
    
</body>
</html>